<% provide :title, t("home") %>
<div class="wrap-header">
    <%= render 'layouts/header' %>
 <div class="container">
   <div class="col-sm-12">
     <div class="content">
       <p class="name-tour">
          Find your perfect
       </p>
       <p class="address">
          Vacation
       </p>
       <button type="button" class="btn btn-primary">Read More</button>
     </div>
   </div>
 </div>
</div>
<%= react_component('hellomessage') %>
<div class="welcome">
  <p class="above"><%= t "welcome" %></p>
  <p><%= t "slogan" %></p>
</div>

<div class="container">
  <div class="row">
    <% @tour.each do |t| %>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <div class="discount"><%= t.discount.discount %> % off</div>
        <%= image_tag t.image.to_s, class:"sizeimage"%>
        <div class="card-body">
          <div class="price">
            <p>from</p>
            <p><%= number_to_currency(t.price) %></p>
          </div>
          <h5 class="card-title"><%= t.tour_name %></h5>
          <%= link_to "Read more", admin_tour_path(t), class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>


<!--  -->

<!-- link that opens popup -->
