<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <%= link_to t("book_tour"), root_path, id: "logo", class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Dashboard", admin_root_path %></li>
        <li><%= link_to "new Tour", new_admin_tour_path %></li>
        <li><a href="#">Help</a></li>
      </ul>
     <!--  <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form> -->

      <%= form_for "", url: admin_tours_path, role: "search",method: :get  do %>
                 <%= text_field_tag :search, @search_term, placeholder: "Search.."%>
               <% end %>
    </div>
  </div>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Tour</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Number days</th>
      <th scope="col">City</th>
      <th scope="col">Country</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    <% @tour.each do |t| %>
    <tr>
      <td><%= t.tour_name %></td>
      <td><%= t.description %></td>
      <td><%= t.price %></td>
      <td><%= t.number_day %></td>
      <td><%= t.city %></td>
      <td><%= t.country %></td>
      <td>
         <%= image_tag t.image_url.to_s, class:"fixsize" %>
      </td>
      <td>
        <%= link_to t("edit"), edit_admin_tour_path(id: current_user.id), class:"btn btn-primary" %>
        <%= link_to t("delete"), admin_tour_path(t), class:"btn btn-danger",
              method: :delete, data: { confirm: t("you_sure") } %>
      </td>
    </tr>
  <% end %>

  </tbody>
</table>
