<div class="wrap-header" style="background: url(<%= @tour.image.to_s %>);">
    <%= render 'layouts/header' %>
 <div class="container">
   <div class="col-sm-12">
     <div class="content">
       <p class="name-tour">
          <%= @tour.tour_name %>
       </p>
       <p class="address">
          <%= @tour.city %> <%= @tour.country %>
       </p>
       <%= link_to "Book now", new_book_path(id: @tour.id), class:"btn btn-primary"  %>
     </div>
     <div class="content-above">
       <p class="price">Price</p>
       <p class="from">From <%= number_to_currency(@tour.price) %></p>
     </div>
   </div>
 </div>
</div>
<p id="notice"><%= notice %></p>
<h3>Tour Details</h3>
<p>
  <strong>Description:</strong>
  <%= @tour.description %>
</p>
<p>
  <strong>country:</strong>
  <%= @tour.country %>
</p>
<p>
  <strong>city:</strong>
  <%= @tour.city %>
</p>
<p>
  <strong>Time:</strong>
  <%= @tour.number_day %> Days
</p>
