<div class="form-group  col-md-offset-4" style="margin-top: 120px; margin-bottom: 120px;">
  <%= form_tag "/search_by_full_text", class: "form-inline" do %>
    <%= text_field_tag :q, nil, placeholder: 'Search Full-text', class: "form-control input-lg" %>
    <%= submit_tag :search, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
<div class="form-group col-md-offset-4">
  <%= form_tag "/search_by_like", class: "form-inline" do %>
    <%= text_field_tag :q, nil, placeholder: 'Search LIKE', class: "form-control input-lg" %>
    <%= submit_tag :search, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
