<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <%= link_to t("book_tour"), root_path, id: "logo", class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>

    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><%= link_to t("category"), categories_path %></li>
        <li><%= link_to t("discount"), discounts_path %></li>
        <li><%= link_to t("tour"), admin_tours_path %></li>
        <li><%= link_to t("user"), '#' %></li>
        <li><%= link_to t("book"), '#' %></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>

      <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
          <%= image_tag("haha.jpg", class: "img-responsive", alt: "Generic placeholder thumbnail") %>
          <h4><%= Tour.count %> Tours</h4>
          <%= link_to 'View Details', admin_tours_path, class:"text-muted" %>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <%= image_tag("booktour.jpeg", class: "img-responsive", alt: "Generic placeholder thumbnail") %>
          <h4><%= Book.count %> Books tour</h4>
          <span class="text-muted">View Details</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <%= image_tag("haha.jpg", class: "img-responsive", alt: "Generic placeholder thumbnail") %>
          <h4>User</h4>
          <span class="text-muted">View Details</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <%= image_tag("usertourist.jpg", class: "img-responsive", alt: "Generic placeholder thumbnail") %>
          <h4>User</h4>
          <span class="text-muted">View Details</span>
        </div>
      </div>

      <h2 class="sub-header">List Tour</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor</td>
              <td>sit</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
