<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <button onclick="topFunction()" id="scrolltotop" title="Go to top">
      <i class="fa fa-angle-up"></i>
    </button>
  </body>
</html>
